#divChart{
    display: block;
    width: 1600px;
    height: 1000px;
    margin: 130px;
}

label{
    padding: 10px;
}

.btn{
    padding: 20px;
    margin-right: 40px;
    height: 20px;
    width:  100px;
}

#container{
    text-align: center;
}